<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/04_fangsoft_testcenter_db/src/org/fangsoft/testcenter/data/Setup.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.fangsoft.testcenter.data.Setup"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="04_fangsoft_testcenter_db"/>
</launchConfiguration>
